![texto_descriptivo](portada.jpg)

### Importamos los módulos necesarios para el proyecto

In [1]:
import pandas as pd
import src.limpieza_texto as lt
import re

### Cargamos el dataset

In [2]:
data = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1", dtype=str)
data.columns = data.columns.str.rstrip() #Eliminamos si hubiera espacio al final de cada titulo de columna
lt.columnas_mayus(data) #convertimos todos los titulos en CAPS

Index(['CASE NUMBER', 'DATE', 'YEAR', 'TYPE', 'COUNTRY', 'AREA', 'LOCATION',
       'ACTIVITY', 'NAME', 'SEX', 'AGE', 'INJURY', 'FATAL (Y/N)', 'TIME',
       'SPECIES', 'INVESTIGATOR OR SOURCE', 'PDF', 'HREF FORMULA', 'HREF',
       'CASE NUMBER.1', 'CASE NUMBER.2', 'ORIGINAL ORDER', 'UNNAMED: 22',
       'UNNAMED: 23'],
      dtype='object')

In [3]:
data #Miramos la base

,CASE NUMBER,DATE,YEAR,TYPE,COUNTRY,AREA,LOCATION,ACTIVITY,NAME,SEX,...,SPECIES,INVESTIGATOR OR SOURCE,PDF,HREF FORMULA,HREF,CASE NUMBER.1,CASE NUMBER.2,ORIGINAL ORDER,UNNAMED: 22,UNNAMED: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns #Imprimo todas las columnas, para copiar y pegar las que quiero quitar

Index(['CASE NUMBER', 'DATE', 'YEAR', 'TYPE', 'COUNTRY', 'AREA', 'LOCATION',
       'ACTIVITY', 'NAME', 'SEX', 'AGE', 'INJURY', 'FATAL (Y/N)', 'TIME',
       'SPECIES', 'INVESTIGATOR OR SOURCE', 'PDF', 'HREF FORMULA', 'HREF',
       'CASE NUMBER.1', 'CASE NUMBER.2', 'ORIGINAL ORDER', 'UNNAMED: 22',
       'UNNAMED: 23'],
      dtype='object')

In [5]:
data = data.drop(["UNNAMED: 22", "UNNAMED: 23", "HREF FORMULA", "HREF", "PDF", "AREA", "TYPE", "LOCATION", "NAME", "INVESTIGATOR OR SOURCE", 'CASE NUMBER.1', 'CASE NUMBER.2'], axis=1)

In [6]:
lt.isnull(data) #Analizo cuantos datos nos faltan

TIME              22775
SPECIES           22259
AGE               22252
SEX               19986
ACTIVITY          19965
FATAL (Y/N)       19960
COUNTRY           19471
INJURY            19449
YEAR              19423
DATE              19421
ORIGINAL ORDER    19414
CASE NUMBER       17021
dtype: int64

In [7]:
data["SPECIES"].unique() #Pruebo varios unique para analizar más en detalle la base

array(['White shark', nan, '2 m shark', ..., "12' tiger shark",
       'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

In [8]:
data.columns #Veo las columnas con las que me he quedado

Index(['CASE NUMBER', 'DATE', 'YEAR', 'COUNTRY', 'ACTIVITY', 'SEX', 'AGE',
       'INJURY', 'FATAL (Y/N)', 'TIME', 'SPECIES', 'ORIGINAL ORDER'],
      dtype='object')

In [9]:
data = data.dropna(axis = 0, how="all", subset=['DATE', 'COUNTRY', 'YEAR', 'ACTIVITY', 'SEX', 'AGE',
       'INJURY', 'FATAL (Y/N)', 'TIME', 'SPECIES']) 
#Me cargo todos las columnas que tengan NaN en todas la filas (excluyendo CASE NUMBER)

In [10]:
data #Chequeo la base, veo el número de rows con el que me he quedado

,CASE NUMBER,DATE,YEAR,COUNTRY,ACTIVITY,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,ORIGINAL ORDER
0,2018.06.25,25-Jun-2018,2018,USA,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,6303
1,2018.06.18,18-Jun-2018,2018,USA,Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,6302
2,2018.06.09,09-Jun-2018,2018,USA,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,6301
3,2018.06.08,08-Jun-2018,2018,AUSTRALIA,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,6300
4,2018.06.04,04-Jun-2018,2018,MEXICO,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",6299
...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0000,AUSTRALIA,Diving,M,NaN,FATAL,Y,NaN,NaN,6
6298,ND.0004,Before 1903,0000,AUSTRALIA,Pearl diving,M,NaN,FATAL,Y,NaN,NaN,5
6299,ND.0003,1900-1905,0000,USA,Swimming,M,NaN,FATAL,Y,NaN,NaN,4
6300,ND.0002,1883-1889,0000,PANAMA,NaN,M,NaN,FATAL,Y,NaN,NaN,3
6301,ND.0001,1845-1853,0000,CEYLON (SRI LANKA),Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,2

In [11]:
lt.isnull(data) #Miro cuantos null me quedan....

TIME              3354
SPECIES           2838
AGE               2831
SEX                565
ACTIVITY           544
FATAL (Y/N)        539
COUNTRY             50
INJURY              28
YEAR                 2
CASE NUMBER          1
ORIGINAL ORDER       0
DATE                 0
dtype: int64

In [12]:
ids = data["CASE NUMBER"]  #Quiero chequear si Case Number tiene valores duplicados, o me puede valer como ID

In [13]:
data[ids.isin(ids[ids.duplicated()])]

,CASE NUMBER,DATE,YEAR,COUNTRY,ACTIVITY,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,ORIGINAL ORDER
522,2014.08.02,02-Aug-2014,2014,USA,Surfing,M,50s,Foot bitten,N,NaN,NaN,5781
523,2014.08.02,02-Aug-2014,2014,USA,Boogie boarding,M,8,Laceration to ankle,N,13h00,NaN,5780
615,2013.10.05,06-Oct-2013,2013,USA,Surfing,M,45,Laceration to thigh,N,08h45,"White shark, 8' to 10'",5688
616,2013.10.05,10-Oct-2013,2013,USA,Wading,M,12,Lacerations to right forearm,N,15h30,Small bull shark,5687
746,2012.09.02.b,02-Sep-2012,2012,USA,Boogie boarding,F,8,Puncture wounds to calf and hand,N,18h30,3.5' to 4' shark,5557
747,2012.09.02.b,02-Sep-2012,2012,USA,Spearfishing,NaN,NaN,Minor laceration to hand PROVOKED INCIDENT,N,12h00,"Tiger shark, 10' to 12'",5556
1063,2009.12.18,18-Dec-2009,2009,SOUTH AFRICA,Paddling on kneeboard,M,22,FATAL,Y,14h30,NaN,5240
1064,2009.12.18,18-Dec-2009,2009,SOUTH AFRICA,Surfing,M,NaN,Minor lacerations to left leg. nitially report...,NaN,NaN,No shark involvement,5239
1436,2006.09.02,02-Sep-2006,2006,USA,Swimming,M,12 or 13,Arm bitten,N,17h55,NaN,4867
1437,2006.09.02,02-Sep-2006,2006,SOUTH AFRICA,Surfing,M,37,"No injury, shark rammed surfboard",N,NaN,"White shark, 3.5m",4866
1599,2005.04.06,06-Apr-2005,2005,USA,NaN,F,NaN,Left calf injured,N,NaN,small hammerhead shark,4704
1600,2005.04.06,06-Apr-2005,2005,HONDURAS,SCUBA Diving,F,NaN,"Laceration on siide of calf, small laceration ...",NaN,NaN,Shark involvement not confirmed,4703
2634,1990.05.10,10-May-1990,1990,AUSTRALIA,Snorkeling,F,30s,Lacerations,N,NaN,2 m hammerhead,3669
2635,1990.05.10,10-May-1990,1990,AUSTRALIA,"Snorkeling, possibly holding a fish",M,30s,Lacerations,N,NaN,2 m hammerhead,3668
2937,1983.06.15,15-Jun-1983,1983,BAHAMAS,NaN,M,30,Lacerations to hand & foot,N,11h00,6' blacktip shark,3366
2938,1983.06.15,15-Jun-1983,1983,ITALY,Scuba diving,M,NaN,"No injury, 3 m shark ""harassed"" him at depth o...",NaN,NaN,Questionable incident,3365
3062,1980.07.00,Late Jul-1980,1980,USA,Surfing,M,NaN,"No injury, bumped off board",N,NaN,NaN,3241
3063,1980.07.00,Early Jul-1980,1980,USA,Surfing,M,NaN,Lower leg bitten,N,NaN,NaN,3240
3543,1966.12.26,26-Dec-1966,1966,SINGAPORE,Wading,M,39,Thigh bitten,N,Afternoon,NaN,2760
3544,1966.12.26,26-Dec-1966,1966,AUSTRALIA,Spearfishing,M,29,Right leg bitten,N,NaN,1.8 m [6'] shark,2759
3814,1962.06.11.b,11-Jun-1962,1962,USA,Escaping from Alacatraz,M,31,2 toes bitten off,N,night,NaN,2489
3815,1962.06.11.b,11-Jun-1962,1962,USA,Escaping from Alacatraz,M,32,"FATAL, but shark involvement uncomfirmed. Deat...",Y,Night,NaN,2488
5213,1923.00.00.a,1923,1923,USA,Hoisting shark aboard fishing boat,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,NaN,1090
5214,1923.00.00.a,1923,1922,USA,Hoisting shark aboard fishing boat,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,NaN,1089
5260,1920.00.00.b,1920s,1920,JAMAICA,Jumped overboard,M,NaN,FATAL,Y,NaN,NaN,1043
5261,1920.00.00.b,1920,1920,NEW ZEALAND,NaN,F,NaN,"""Recovered""",N,NaN,NaN,1042
5322,1915.07.06.a.R,Reported 06-Jul-1915,1915,MEXICO,Fishing,M,NaN,FATAL,Y,NaN,NaN,981
5323,1915.07.06.a.R,Reported 06-Jul-1915,1915,MEXICO,Wading,M,NaN,FATAL,Y,NaN,NaN,980
5354,1913.08.27.R,Reported 27-Aug-1913,1913,USA,NaN,M,NaN,Man's leg recovered from 800-lb shark,NaN,NaN,Shark involvement prior to death unconfirmed,949
5355,1913.08.27.R,Reported 27-Aug-1913,1913,USA,NaN,F,NaN,Female foot recovered from shark,NaN,NaN,Shark involvement prior to death unconfirmed,948
5443,1907.10.16.R,Reported 16-Oct-1907,1907,CHINA,Fishing,M,NaN,"3 of thel 5 were injured, one of whom lost bot...",N,NaN,Shark involvement probable,860
5444,1907.10.16.R,Reported 16-Oct-1907,1907,CHINA,Fishing,M,NaN,2 of the 5 fishermen were so seriously injure...,Y,NaN,Shark involvement probable,859

In [14]:
ids = data["ORIGINAL ORDER"]  #Quiero chequear si Case Number tiene valores duplicados, o me puede valer como ID

In [15]:
data[ids.isin(ids[ids.duplicated()])]

,CASE NUMBER,DATE,YEAR,COUNTRY,ACTIVITY,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES,ORIGINAL ORDER
5733,1888.01.22,22-Jan-1888,1888,AUSTRALIA,Rowing,M,NaN,"Shark bit boat, but no injury to occupant who ...",N,NaN,NaN,569
5734,1888.02.00,Feb-1888,1888,SOUTH AFRICA,Crossing the river mouth,M,NaN,FATAL,Y,NaN,NaN,569

In [16]:
data = data.drop(['CASE NUMBER', 'ORIGINAL ORDER'], axis=1) #Como tiene duplicados, me la cargo, no me sirve.

data = data.dropna(axis = 0, how="any")
data

In [17]:
data = data.fillna(0)
data
# Remplazo todos los NaN con 0

,DATE,YEAR,COUNTRY,ACTIVITY,SEX,AGE,INJURY,FATAL (Y/N),TIME,SPECIES
0,25-Jun-2018,2018,USA,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018,USA,Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,0
2,09-Jun-2018,2018,USA,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,0
3,08-Jun-2018,2018,AUSTRALIA,Surfing,M,0,Minor injury to lower leg,N,0,2 m shark
4,04-Jun-2018,2018,MEXICO,Free diving,M,0,Lacerations to leg & hand shark PROVOKED INCIDENT,N,0,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...
6297,Before 1903,0000,AUSTRALIA,Diving,M,0,FATAL,Y,0,0
6298,Before 1903,0000,AUSTRALIA,Pearl diving,M,0,FATAL,Y,0,0
6299,1900-1905,0000,USA,Swimming,M,0,FATAL,Y,0,0
6300,1883-1889,0000,PANAMA,0,M,0,FATAL,Y,0,0
6301,1845-1853,0000,CEYLON (SRI LANKA),Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,0,0

In [18]:
data["AGE"].unique() #Examino AGE para ver con que me quiero quedar, que es lo que me vale y que no

array(['57', '11', '48', 0, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½', '13 or 14'], dtype=object)

In [19]:
data.dtypes.astype(str) #compruebo el tipo 
data.dtypes

DATE           object
YEAR           object
COUNTRY        object
ACTIVITY       object
SEX            object
AGE            object
INJURY         object
FATAL (Y/N)    object
TIME           object
SPECIES        object
dtype: object

In [20]:
patron_age = r"([\d]+$)"  #Patron regex

In [21]:
data['AGE'] = data['AGE'].astype(str) #Cambio el tipo a str

In [22]:
data['AGE'] = data.AGE.apply(lambda x: lt.coincidencia(patron_age, x)) #Ejecuto mi funcion regex

In [23]:
data['AGE'].unique() #Me quedo con lo que me interesa

array(['57', '11', '48', '0', '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', 0, '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '68', '51', '39', '58', '47', '61', '65',
       '36', '66', '43', '9', '72', '59', '6', '27', '64', '23', '71',
       '44', '62', '63', '70', '53', '77', '74', '5', '86', '84', '75',
       '87', '67', '1', '81', '78'], dtype=object)

In [24]:
data["AGE"] = data["AGE"].replace([None], 0) #remplazo el NaN por un 0 por si quiero examinar cuantos valores tienen 0 con el value_counts()

In [25]:
data['AGE'] = data['AGE'].astype(int) #Cambio el AGE a int

In [26]:
patron_date = r"(\b[a-zA-Z]{3}\b)" #Patron regex

In [27]:
data['DATE'] = data['DATE'].astype(str)

In [28]:
data['MONTHLY'] = data.DATE.apply(lambda x: lt.coincidencia(patron_date, x))

In [29]:
data['MONTHLY'].unique()

array(['jun', 'may', 'apr', 'mar', 'feb', 'jan', 'dec', 'nov', 'oct',
       'sep', 'aug', 'jul', 0, 'mid', 'and', 'day', 'war', 'the', 'few'],
      dtype=object)

In [30]:
data["MONTHLY"] = data["MONTHLY"].replace(['mid', 'and', 'day', 'war', 'the', 'few', None], 0)

In [31]:
data['MONTHLY'].unique()

array(['jun', 'may', 'apr', 'mar', 'feb', 'jan', 'dec', 'nov', 'oct',
       'sep', 'aug', 'jul', 0], dtype=object)

In [32]:
patron_activity = r'(\b[a-zA-Z]+urfing\b|\b[a-zA-Z]+wimming\b|\b[a-zA-Z]+ishing\b|\b[a-zA-Z]+pearfishing\b|\b[a-zA-Z]+athing\b|\b[a-zA-Z]+ading\b|\b[a-zA-Z]+iving\b)'

In [33]:
data['ACTIVITY'] = data['ACTIVITY'].astype(str)

In [34]:
data['N_ACTIVITY'] = data.ACTIVITY.apply(lambda x: lt.coincidencia(patron_activity, x))

In [35]:
data['N_ACTIVITY'].unique() #Me quedo con lo que me interesa

array([0, 'surfing', 'diving', 'swimming', 'fishing', 'windsurfing',
       'wading', 'spearfishing', 'bathing', 'treading', 'bodysurfing',
       'kitesurfing', 'crayfishing', 'reviving', 'scurfing', 'freediving',
       'skindiving', 'sunbathing', 'reading', 'loading'], dtype=object)

In [36]:
data["N_ACTIVITY"] = data["N_ACTIVITY"].replace(['loading', None], 0)

In [37]:
data["N_ACTIVITY"].value_counts() #Miro cuantos valores tengo de cada uno

0               1981
swimming        1106
surfing         1094
fishing          725
diving           531
spearfishing     409
bathing          190
wading           170
treading          39
windsurfing       21
freediving        14
skindiving        11
crayfishing        3
reading            2
kitesurfing        2
sunbathing         1
reviving           1
scurfing           1
bodysurfing        1
Name: N_ACTIVITY, dtype: int64

In [38]:
lt.isnull(data)

N_ACTIVITY     0
MONTHLY        0
SPECIES        0
TIME           0
FATAL (Y/N)    0
INJURY         0
AGE            0
SEX            0
ACTIVITY       0
COUNTRY        0
YEAR           0
DATE           0
dtype: int64

In [39]:
data["SEX"].unique()

array(['F', 'M', 0, 'M ', 'lli', 'N', '.'], dtype=object)

In [40]:
data["SEX"] = data["SEX"].replace(["lli", "N", ".", None], 0)
data["SEX"] = data["SEX"].replace(["M "], "M")

In [41]:
data["SEX"].unique()

array(['F', 'M', 0], dtype=object)

In [42]:
data["MONTHLY"].value_counts()

jul    662
aug    598
sep    552
0      552
jan    518
jun    494
apr    453
oct    442
dec    436
mar    412
nov    406
may    396
feb    381
Name: MONTHLY, dtype: int64

In [43]:
data["FATAL (Y/N)"].unique()

array(['N', 'Y', 0, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'], dtype=object)

In [47]:
data["FATAL (Y/N)"] = data["FATAL (Y/N)"].replace(["UNKNOWN", "2017", "M", ', ', 'y', None], 0)
data["FATAL (Y/N)"] = data["FATAL (Y/N)"].replace([" N", 'N '], "N")

In [48]:
data["FATAL_Y_N"].unique()

array(['N', 'Y', 0], dtype=object)

In [49]:
data["FATAL_Y_N"] = data["FATAL (Y/N)"]

In [50]:
patron_time = r'(^\d{2})'

In [51]:
data['TIME'] = data['TIME'].astype(str)

In [52]:
data['N_TIME'] = data.TIME.apply(lambda x: lt.coincidencia(patron_time, x))

In [53]:
data['N_TIME'].unique()

array(['18', '14', '07', 0, '17', '15', '08', '11', '10', '16', '09',
       '21', '19', '12', '13', '23', '06', '02', '22', '04', '05', '03',
       '20', '00', '30', '01'], dtype=object)

In [54]:
data["N_TIME"] = data["N_TIME"].replace([None], 0)

In [55]:
patron_species = r'\b[W-w]hite\b|\b[T-t]iger\b|\b[B-b]ull\b|\b[W-w]obbegong\b|\b[B-b]lacktip\b|\b[B-b]lue\b|\b[N-n]urse\b|\b[R-r]eef\b'

In [56]:
data['SPECIES'] = data['SPECIES'].astype(str)

In [57]:
data['N_SPECIES'] = data.SPECIES.apply(lambda x: lt.coincidencia(patron_species, x))

In [58]:
data['N_SPECIES'].unique()

array(['white', 0, 'tiger', 'bull', 'reef', 'nurse', 'wobbegong',
       'blacktip', 'blue'], dtype=object)

In [59]:
data["N_SPECIES"] = data["N_SPECIES"].replace([None], 0)

In [60]:
data["N_SPECIES"] = data["N_SPECIES"].replace(['white','tiger', 'bull', 'reef', 'blacktip', 'nurse', 'wobbegong', 'blue'], ['White', 'Tiger', 'Bull', 'Reef', 'Blacktip', 'Nurse', 'Wobbegong', 'Blue'])

In [61]:
data['N_SPECIES'].value_counts()

0            4866
White         638
Tiger         256
Bull          184
Blacktip      101
Nurse          97
Blue           56
Reef           55
Wobbegong      49
Name: N_SPECIES, dtype: int64

In [62]:
data['YEAR'].unique()

array(['2018', '2017', 0, '2016', '2015', '2015.00', '2014', '2013',
       '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005',
       '2004', '2003', '2002', '2001', '2000', '1999', '1998', '1997',
       '1996', '1995', '1984', '1994', '1993', '1992', '1991', '1990',
       '1989', '1969', '1988', '1987', '1986', '1985', '1983', '1982',
       '1981', '1980', '1979', '1978', '1977', '1976', '1975', '1974',
       '1973', '1972', '1971', '1970', '1968', '1967', '1966', '1965',
       '1964', '1963', '1962', '1961', '1960', '1959', '1958', '1957',
       '1956', '1955', '1954', '1953', '1952', '1951', '1950', '1949',
       '1948', '1848', '1947', '1946', '1945', '1944', '1943', '1942',
       '1941', '1940', '1939', '1938', '1937', '1936', '1935', '1934',
       '1933', '1932', '1931', '1930', '1929', '1928', '1927', '1926',
       '1925', '1924', '1923', '1922', '1921', '1920', '1919', '1918',
       '1917', '1916', '1915', '1914', '1913', '1912', '1911', '1910',
       '1909', '1908', '1907', '1906', '1905', '1904', '1903', '1902',
       '1901', '1900', '1899', '1898', '1897', '1896', '1895', '1894',
       '1893', '1892', '1891', '1890', '1889', '1888', '1887', '1886',
       '1885', '1884', '1883', '1882', '1881', '1880', '1879', '1878',
       '1877', '1876', '1875', '1874', '1873', '1872', '1871', '1870',
       '1869', '1868', '1867', '1866', '1865', '1864', '1863', '1862',
       '1861', '1860', '1859', '1858', '1857', '1856', '1855', '1853',
       '1852', '1851', '1850', '1849', '1847', '1846', '1845', '1844',
       '1842', '1841', '1840', '1839', '1837', '1836', '1835', '1834',
       '1832', '1831', '1830', '1829', '1828', '1827', '1826', '1825',
       '1823', '1822', '1819', '1818', '1817', '1816', '1815', '1812',
       '1811', '1810', '1808', '1807', '1805', '1804', '1803', '1802',
       '1801', '1800', '1797', '1792', '1791', '1788', '1787', '1786',
       '1785', '1784', '1783', '1780', '1779', '1776', '1771', '1767',
       '1764', '1758', '1753', '1751', '1749', '1755', '1748', '1742',
       '1738', '1733', '1723', '1721', '1703', '1700', '1642', '1638',
       '1637', '1617', '1595', '1580', '1555', '1554', '1543', '0500',
       '0077', '0005', '0000'], dtype=object)

In [63]:
data["YEAR"] = data["YEAR"].replace(['0077', '0005','0000','0500', None], 0)

In [64]:
patron_injury = r'\b[L-l]eg\b|\b[A-a]rm\b|\b[H-h]ead\b|\b[H-h]and\b|\b[F-f]oot\b'

In [65]:
data['INJURY'] = data['INJURY'].astype(str)

In [66]:
data['N_INJURY'] = data.INJURY.apply(lambda x: lt.coincidencia(patron_injury, x))

In [67]:
data["N_INJURY"] = data["N_INJURY"].replace([None], 0)

In [68]:
data["N_INJURY"] = data["N_INJURY"].replace(['dead','boot'], [0, 0])

In [69]:
data['N_INJURY'].value_counts()

0       3981
leg      809
foot     725
hand     382
arm      362
head      43
Name: N_INJURY, dtype: int64

In [70]:
data = data.drop(['DATE', 'ACTIVITY', 'TIME', 'SPECIES', 'INJURY'], axis=1)

In [71]:
data = data[['COUNTRY', 'YEAR', 'MONTHLY', 'N_TIME', 'SEX', 'AGE', 'N_ACTIVITY', 'N_SPECIES', 'FATAL_Y_N', 'N_INJURY']]

In [72]:
data.to_csv('sharklimpio.csv', index=False)

data['ORIGINAL ORDER'] = data['ORIGINAL ORDER'].astype(int)

data1 = data1.set_index("ORIGINAL ORDER")

data1

by_order = data1.sort_values('ORIGINAL ORDER')

by_order